<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scan" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="scan-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="allergens" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="bookmark-outline"></ion-icon>
      <ion-label>Allergens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
